html, body {
  margin: 0;
  background: #fbf8f1;
  font-family:'Helvetica Neue', sans-serif;
  padding: 0;
  
}
body::-webkit-scrollbar {
  display: none;
}

.app {
  scroll-behavior: smooth;
}

.disable-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

