@font-face {
    font-family: 'Butler-Medium';
    src: url('../fonts/Butler-Medium.woff') format('woff'),
        url('../fonts/Butler-Medium.woff2') format('woff2');
}

.store {
    width: 100vw;
    padding-bottom: 10vh;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: 100vh;
    gap: 2.5vh;
}
.webgl {
    width: 90vw;
    height: 75vh;
}
.product {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    clip-path: inset(0);
}
.productName {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 10vw;
}
.productPrice {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 6vw;
}
.productDescription {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 4vw;
    padding-bottom: 5vh;
    text-align: justify;
}
.productButton {
    align-self: center;
}
.productButton button {
    font-family: 'Butler-Medium';
    color: black;
    background-color: transparent;
    border: 1px solid black;
    padding: 1vh 15vw;
    font-size: 5vw;
    cursor: pointer;
    
}

@media screen and (min-width: 768px) {
    .store {
        width: 60vw;
        height: 100vh;
        padding: 0 2.5vw;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 100vw;
        margin-top: 0;
        gap: 2vw;
        scroll-snap-align: end;
    }
    .webgl {
        width: 35vw;
        height: 90vh;
    }
    .product {
        width: 18vw;
        height: auto;
    }
    .productName {
        font-size: 3vw;
    }
    .productPrice {
        font-size: 2vw;
    }
    .productDescription {
        font-size: 1.15vw;
        /* text-align: left; */
    }
    .productButton {
        align-self: flex-start;
    }
    .productButton button {
        font-size: 1.5vw;
        padding: 1vh 5vw;
    }
}